<!--Pulsante Follow Di FB-->

<div class="fb-follow" data-href="https://www.facebook.com/GioveTv/"
 data-layout="standard"
 data-size="small" data-show-faces="true"></div>

<!--Parametri modificabili
size (dimensione pulsante),
show face (mostra thumbnails persone che seguono),
layout (visualizzazione pulsante)-->
