<!--Pulsante Like Di FB-->
<div class="fb-like" data-href="https://www.facebook.com/GioveTv/"
 data-layout="standard" data-action="like"
 data-size="small" data-show-faces="true" data-share="true"></div>
<!--Parametri modificabili
size (dimensione pulsante),
show face (mostra thumbnails persone che seguono),
layout (visualizzazione pulsante)
action (tipo di azione)
share (se condividere)-->
