<!--Widget PAgina Di FB-->
<div class="fb-page" data-href="https://www.facebook.com/GioveTv/"
 data-tabs="timeline,events,messages" data-small-header="false"
 data-adapt-container-width="true" data-hide-cover="false"
 data-show-facepile="true"><blockquote cite="https://www.facebook.com/GioveTv/" class="fb-xfbml-parse-ignore">
   <a href="https://www.facebook.com/GioveTv/">Giove Tv</a></blockquote></div>
<!--Parametri modificabili
small-header (dimensione ridotte),
show facepile (mostra thumbnails persone che seguono),
tabs (visualizzazione di più tab)-->
