<div class="o-block"></div>
<footer class="o-blockBar">

	<section class="o-blockBar__boxFtr">
		<h3>Giove TV s.p.a.</h3>
		<span id="mapView"> via Trebbia, 10 - Milano </span>
		<p> capitale sociale € 235.000 </p>
	</section>

	<section class="o-blockBar__boxFtr o-blockBar__boxFtr__social">
		<h4>Seguici su:</h4>
		<!--
		Inserimento link Precisi sulle icone Social
		-->
		<a href="http://www.facebook.com/giovetv" class="icon1-facebook-circled o-blockBar__boxFtr__social__link" style="text-decoration: none;"> </a>
		<a href="http://www.twitter.com" class="icon1-twitter-circled o-blockBar__boxFtr__social__link" style="text-decoration: none;"></a>
		<a href="http://www.googleplus.com"  class="icon1-gplus-circled o-blockBar__boxFtr__social__link" style="text-decoration: none;"></a>
	</section>

	<nav id="ftrNav" class="o-blockBar__boxFtr">
		<ul>
			<li><a href="/faq" class="o-blockBar__boxFtr__link ">FAQ</a></li>
			<li><a href="/contatti" class="o-blockBar__boxFtr__link ">Asistenza / Contatti</a></li>
			<li><a href="/notelegali" class="o-blockBar__boxFtr__link ">Note Legali</a></li>
		</ul>
	</nav>
</footer>
