<div class="o-block"></div>
<header class="o-blockBar o-blockBar__Nav">

	<!-- LOGO -->
	<div class="logoG">
		<a href="/" class="linkHome"><img src="/images/logoG.png" alt="Logo Giove TV" title="Logo Giove TV"></a>
	</div>


	<!-- barra di navigazione principale-->
	<nav id="mainNav">
		<ul>
			<li><a class="o-blockBar__Nav__link" href="/"><span class="borderSelect onlyMobile">HOME</span></a></li>
			<li><a class="o-blockBar__Nav__link" href="/programmi"><span class="borderSelect">PROGRAMMI</span></a></li>
			<li><a class="o-blockBar__Nav__link" href="/guidatv"><span class="borderSelect">GUIDA TV</span></a></li>
			<li><a class="o-blockBar__Nav__link" href="/areaClienti"><span class="borderSelect">ACCEDI / REGISTRATI</span></a></li>
			<li><a href="/faq" class="o-blockBar__Nav__link"><span class="borderSelect onlyMobile">FAQ</span></a></li>
			<li><a href="/contatti" class="o-blockBar__Nav__link"><span class="borderSelect onlyMobile">Asistenza / Contatti</span></a></li>
			<li><a href="/notelegali" class="o-blockBar__Nav__link"><span class="borderSelect onlyMobile">Note Legali</span></a></li>
		</ul>
	</nav>
</header>