	<h2 class="o-wrapper__suggest__txt">NOTE LEGALI</h2>

<div class="wrapper clearfix notelegali">
		<h3
    class="whiterow">TERMINI E CONDIZIONI DI UTILIZZO</h3>
		<p>
			<br />
			Il sito www.Giovetv.it (&quot;Sito&quot;) è di proprietà esclusiva di Giove Tv Italia S.r.l., con sede in Milano, via Trebbia, 10 (di seguito &quot;Giove Tv&quot;).
			<br />
			<br />
			L’accesso al, e la navigazione sul, Sito, da parte dei singoli utenti, sono gratuiti e sono subordinati all’accettazione dei termini e delle condizioni delle presenti note legali.
			<br />
			<br />
			L’utente prende atto e comunque conviene: (i) che Giove Tv si riserva il diritto di modificare i termini e le condizioni delle presenti note legali in ogni momento comunicando le modifiche agli utenti tramite avviso generale apposto sul Sito o tramite un collegamento<br />
			a tale avviso e (ii) che, dal momento di ciascun avviso generale ora detto, le note legali come modificate costituiranno i nuovi termini e condizioni al quale saranno subordinati l’accesso al, e la navigazione sul, Sito (le presenti note legali, come via via modificate,<br />
			di seguito, le &quot;Note Legali&quot;).
		</p><br />
		<h3
    class="whiterow">1. DIRITTI DI PROPRIETA' INTELLETTUALE</h3>
		<br />
		<p>
			1.1. I contenuti del Sito (ivi inclusi i canali presenti sul Sito e/o i singoli contenuti dei canali ora detti), quali a titolo esemplificativo<br />
			e non esaustivo, le opere, le immagini, le fotografie, i dialoghi, le musiche, i suoni, i video, i testi ed ogni altro materiale in qualsiasi formato, compreso, a titolo esemplificativo e non esaustivo, i menu, le pagine web, la grafica, i colori, gli schemi, gli strumenti,<br />
			i caratteri, il design, i diagrammi, i layouts, i metodi, i processi, le funzioni ed il software (individualmente e/o collettivamente &quot;Contenuti&quot;) ed i relativi segni distintivi e/o loghi sono di proprietà esclusiva di Giove Tv o comunque nella sua esclusiva disponibilità,<br />
			ed in ogni caso non possono essere in alcun modo e/o forma riprodotti e/o altrimenti utilizzati senza il previo consenso scritto di Giove Tv essendo ogni loro riproduzione e/o utilizzazione ora detta espressamente riservata a Giove Tv. Salvo sia diversamente ed espressamente indicato sul Sito, i Contenuti possono essere visionati e/o ascoltati unicamente in modalità &quot;Streaming&quot;.<br />
			Per &quot;Streaming&quot; si intende la modalità di visualizzazione e/o ascolto dei contenuti in tempo reale e senza necessità e/o possibilità<br />
			di riproduzione, temporanea o permanente, distribuzione, ridistribuzione, comunicazione al pubblico o altra utilizzazione,<br />
			in qualunque forma o modo diversa da quella di &quot;Streaming&quot; qui definita.
			<br />
			<br />
			Nell’ipotesi in cui sul Sito vengano forniti codici link ed embed relativi a specifici contenuti, tali codici possono essere utilizzati<br />
			dagli utenti solo per proprio uso diretto, personale e privato e purché l’uso ora detto non avvenga per scopi di tipo direttamente<br />
			o indirettamente commerciale e/o a fini di lucro.
			<br />
			<br />
			1.3. Ogni utilizzo dei codici e/o dei Contenuti in violazione dei limiti indicati nelle Note Legali, o comunque contrario alle norme<br />
			di legge, è illecito e sarà pertanto perseguibile da Giove Tv.
			<br />
			<br />
			1.4. I marchi e i loghi &quot;Giove Tv&quot; e/o &quot;Giove Tv&quot;, compreso il nome a dominio &quot;Giove Tvtv.it&quot;, sono nella disponibilità esclusiva di Giove Tv<br />
			o di società del Gruppo Giove Tv. Detti marchi, loghi e domini non possono essere utilizzati in alcun modo senza il preventivo consenso scritto di Giove Tv.
		</p>
		<br />
		<h3
    class="whiterow">2. LINKS AD ALTRI SITI WEB</h3>
		<br />
		<p>
			2.1. Il Sito può contenere collegamenti testuali (i &quot;links&quot;) ad altri siti web che non hanno alcun collegamento con il Sito. Giove Tv non controlla né compie operazioni di monitoraggio su tali siti web, sui loro contenuti e sulle loro regole.
			<br />
			<br />
			2.2. L’eventuale link di collegamento ad altri siti web non deve essere in alcun modo intesa come attività, da parte di Giove Tv, di promozione degli stessi e/o dei contenuti in essi pubblicati.
		</p>
		<br />
		<h3
    class="whiterow">3. COOKIES</h3>
		<br />
		<p>
			Sul Sito possono essere presenti dei &quot;cookies&quot; di sessione (che non vengono memorizzati in modo persistente sul computer dell’utente e svaniscono con la chiusura del browser) con il fine di consentire agli utenti una migliore fruibilità del Sito. Gli utenti<br />
			che preferiscono non ricevere cookies possono impostare il proprio browser con l’intento di essere avvertiti della presenza<br />
			di cookies e di decidere quindi se accettarli o meno. Il browser può anche essere impostato per rifiutare automaticamente tutti<br />
			i cookies; in tal caso, tuttavia, all’utente potrebbe non essere possibile accedere a tutti i servizi disponibili sul Sito.
		</p>
		<br />
		<h3
    class="whiterow">4. LIMITAZIONI DI RESPONSABILITA'</h3>
		<br />
		<p>
			4.1. L'utente prende atto e comunque conviene che il proprio accesso al, e navigazione del, Sito è interamente a suo rischio e sotto<br />
			la sua esclusiva responsabilità.
			<br />
			<br />
			4.2. L’utente prende inoltre atto e comunque conviene che il Sito è fornito &quot;come è&quot; e &quot;come disponibile&quot; e che potrebbe essere temporaneamente inaccessibile o comunque contenere difetti ovvero presentare ritardi.
			<br />
			<br />
			4.3. Giove Tv non sarà responsabile di alcuna perdita o danno derivante o in qualunque modo collegato all’uso o al funzionamento<br />
			del Sito, ivi compresi – senza limitazione alcuna – danni per perdita di affari, perdita di utili, interruzione dell’attività, perdita<br />
			di informazioni commerciali e/o qualsiasi altro tipo di perdita pecuniaria, salvo i casi di dolo o colpa grave di Giove Tv.
		</p>
		<br />
		<h3 class="whiterow">5. LEGGE APPLICABILE</h3>
		<br />
		<p>
			Le Note Legali sono regolate dalla legge italiana.
			<br />
			<br />
		</p>
		<p>
			Giove Tv Italia S.r.l., con sede in Milano, via Trebbia, 10<br />
			P. IVA 04619241005<br />
			Coordinatori del Sito:  Matteo Fiorio, Giuseppe Dell'Avvocato, Gualberto Vannini
			<br />
			<br />
		</p>
	</div>
    </div>
</div>
