

<div class="o-popUp">
	<img class="logoLoad" src="/images/logoG.png" alt="Logo Giove TV" title="Logo Giove TV">
	<div class="o-popUp__inside">
		<div class="o-popUp__inside-close">close X</div>
		<div class="o-popUp__inside-content" id="map"></div>
	</div>
</div>
