<!--<h2 class="o-wrapper__suggest__txt" style="padding-bottom: 0px;">FAQ</h2>

<div class="wrapper clearfix faq">
		<ul>
	<li>
		<h3><a><span
        class="number">01.</span><strong>Prima vedevo Giove Tv ma ora è sparito come mai?</strong></a></h3>
		<p
        class="text"
            style="display: none;"> Hai provato a spegnere e riaccendere?<br /></p>
	</li>
	<li>
		<h3><a><span
        class="number">02.</span><strong>Ho fatto la scansione dei canali sul decoder, ma non trovo ancora Tv Giove, come mai?</strong></a></h3>
		<p
        class="text"
            style="display: none;">È possibile che la posizione 28 sia ancora occupata da un canale diverso da Giove Tv. Procedi con la reinstallazione dei canali in modo da aggiornare la lista dei canali con le nuove numerazioni e troverai Giove Tv al canale 28.</p>
	</li>
	<li>
		<h3><a><span
        class="number">03.</span><strong>Non trovo la messa a terra del mio mangalica, cosa devo fare?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Sì, avvolte i mangalica #slayer sono ne sprovvisti.</p>
	</li>
	<li>
		<h3><a><span
        class="number">04.</span><strong> Carhartt realizza anche decoder per Giove Tv?</strong></a></h3>
		<p
        class="text"
          style="display: none;">Sì, come Starbuks Carhartt fa qualsiasi cosa per fare CASH (anche assumenere anche veronesi). Scopri come <a href="https://www.facebook.com/Verona-Merda-541201882560756/">qui</a>.</p>
	</li>
	<li>
		<h3><a><span
        class="number">05.</span><strong>Il mio decoder Giove Tv non risponde ai miei comandi vocali. Ho provato Oja, Eja e Ajò cosa posso usare?</strong></a></h3>
		<p
        class="text"
            style="display: none;">L'italiano, il sardo è una lingua morta.</p>
	</li>
	<li>
		<h3><a><span
        class="number">06.</span><strong>Per vedere i canale sulla piattaforma Giove Tv occorre sequestrare il tecnico installatore?</strong></a></h3>
		<p
        class="text"
            style="display: none;">No, i decoder Giove Tv sono in grado di sintonizzare automaticamente il nuovo canale. Potete cosi evitare di slamare il nostro staff.</p>
	</li>
	<li>
		<h3><a><span
        class="number">07.</span><strong>Posso vedere il canale Giove Tv anche sulla Bici? Se è possibile, vedrò dei contenuti diversi?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Giove Tv è visibile solo sulla piattaforma home al canale n. 28, i ciclisti dovrebbero tenere gli occhi sulla strada.</p>
	</li>
	<li>
		<h3><a><span
        class="number">08.</span><strong>Posso vedere Giove Tv anche tramite un decoder satellitare come ad esempio TV SAT?</strong></a></h3>
		<p
        class="text"
          style="display: none;">Sì Giove Tv è visibile su TIVUSAT al canale 19. Per eventuali problemi o disservizi della piattaforma, visita il <a href="http://www.tivu.tv/sat/assistenza-clienti/285/274/customercare-tivu-tv.aspx" target="_blank">sito</a> per ricevere assistenza e consigli utili per una completa fruizione del servizio.</p>
	</li>
	<li>
		<h3><a><span
        class="number">09.</span><strong>Abito in Sardegna/Puglia e dal 19 Dicembre 2012 non ricevo più Giove Tv, come posso fare?</strong></a></h3>
		<p
        class="text"
          style="display: none;">Tra il 19 e il 22 Dicembre 2012, Sardegna e Puglia hanno cambiato la frequenza per ricevere Giove Tv. Se sintonizzi manualmente il decoder e  risiedi in Sardegna ci trovi al ch 32, altrimenti in Puglia al ch 44. Per qualsiasi chiarimento contattaci sui nostri profili <a href="http://www.facebook.com/" target="_blank">Facebook</a>, <a href="https://twitter.com/Giove" target="_blank">Twitter</a>, oppure a <a href="mailto:info@Giove.it">info@Giove Tvtv.it</a></p>
	</li>
	<li>
		<h3><a><span
        class="number">10.</span><strong>Posso vedere i programmi anche in lingua originale?</strong></a></h3>
		<p
        class="text"
            style="display: none;">No i programmi sono visibili solo in Sardo e Barese stretto, trovi l'indicazione sulle scheda dei programmi.</p>
	</li>
	<li>
		<h3><a><span
        class="number">11.</span><strong>Come faccio ad impostare la lingua originale di un programma?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Puoi impostare la lingua italiana o lingua originale direttamente dal menù del tuo telecomando.</p>
	</li>
	<li>
		<h3><a><span
        class="number">12.</span><strong>Giove Tv viene trasmesso anche in HD?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Al momento Giove Tv è trasmesso in HD solo sulla piattaforma .</p>
	</li>
	<li>
		<h3><a><span
        class="number">13.</span><strong>Che cos'è l'LCN?</strong></a></h3>
		<p
        class="text"
            style="display: none;">LCN sta per Logical Channel Numbering, ossia il riordino automatico dei canali sul decoder DTT.</p>
	</li>
	<li>
		<h3><a><span
        class="number">14.</span><strong>Posso cambiare la numerazione preassegnata al canale digitale terrestre Giove Tv TV?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Dipende dal tipo di decoder DTT utilizzato. Consulta il manuale d'istruzioni per saperne di più.</p>
	</li>
	<li>
		<h3><a><span
        class="number">15.</span><strong>Che cosa significa MUX (Multiplex)?</strong></a></h3>
		<p
        class="text"
            style="display: none;">Rete digitale terrestre. Si tratta di un insieme di contenuti trasmessi sulla medesima frequenza.</p>
	</li>
	<li>
		<h3><a><span
        class="number">16.</span><strong>Ho una domanda specifica da fare, come posso contattarvi?</strong></a></h3>
		<p
        class="text"
          style="display: none;">Scrivici sui canali social: sulla pagina <a href="http://www.facebook.com/Giove TvTv" target="_blank">facebook</a> e <a href="https://twitter.com/Giove TvTV" target="_blank">twitter</a> ti risponderemo nel più breve tempo possibile. <br /></p>
	</li>
	<li>
		<h3><a><span
        class="number">17.</span><strong>Quali sono le note legali di Giove Tv?</strong></a></h3>
		<p
        class="text" style="display: none;"><a href="/content/dam/static/contentimages/original/sezioni/Giove Tvtv/pdf/note_legali.pdf" target="_blank">Scarica il pdf</a></p>
	</li>
</ul>
	</div>
    </div>
</div>
-->

</div>
		 <h2>Domande e risposte</h2>

<div class="wrapper clearfix faq">
<ul>
<li>
<h3><a><span
	 class="number">01.</span><strong>Prima vedevo Giove Tv e ora è sparito come mai?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Giove Tv è sul canale 28, risintonizza tutti i canali sul tuo decoder.<br /></p>
</li>
<li>
<h3><a><span
	 class="number">02.</span><strong>Ho fatto la scansione dei canali sul decoder, ma non trovo ancora Giove Tv, come mai?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">È possibile che la posizione 28 sia ancora occupata da un canale diverso da Giove Tv. Procedi con la reinstallazione dei canali in modo da aggiornare la lista dei canali con le nuove numerazioni e troverai Giove Tv al canale 28.</p>
</li>
<li>
<h3><a><span
	 class="number">03.</span><strong>È possibile vedere il canale digitale terrestre Giove Tv con qualsiasi tipo di decoder DTT?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Sì, il canale digitale terrestre Giove Tv è visibile attraverso qualsiasi decoder DTT.</p>
</li>
<li>
<h3><a><span
	 class="number">04.</span><strong>Per vedere il canale digitale terrestre Giove Tv occorre risintonizzare il decoder DTT?</strong></a></h3>
<p
	 class="text"
		 style="display: none;">Sì, per vedere Giove Tv sul digitale terrestre è necessario risintonizzare i canali sul decoder DTT. Scopri come e la <a href="http://www.Giovetv.it/trova_Giove.html">frequenza</a> di Giove Tv nella tua città.</p>
</li>
<li>
<h3><a><span
	 class="number">05.</span><strong>Se la frequenza di Giove Tv è 44 vuol dire che lo trovo al canale/posizione 44?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">No, Giove Tv si posizionerà sul canale 28.</p>
</li>
<li>
<h3><a><span
	 class="number">06.</span><strong>Per vedere il canale Giove Tv sulla piattaforma satellitare occorre risintonizzare il decoder?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">No, i decoder  sono in grado di sintonizzare automaticamente il nuovo canale.</p>
</li>
<li>
<h3><a><span
	 class="number">07.</span><strong>Posso vedere il canale Giove Tv anche sulla piattaforma ? Se è possibile, vedrò dei contenuti diversi?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Giove Tv è visibile anche sulla piattaforma  al canale n. 128, i contenuti saranno i medesimi sulle due piattaforme, ma solo su  Giove Tv sarà visibile in HD</p>
</li>
<li>
<h3><a><span
	 class="number">08.</span><strong>Posso vedere Giove Tv anche tramite un decoder satellitare come ad esempio TV SAT?</strong></a></h3>
<p
	 class="text"
		 style="display: none;">Sì Giove Tv è visibile su TIVUSAT al canale 19. Per eventuali problemi o disservizi della piattaforma, visita il <a href="http://www.tivu.tv/sat/assistenza-clienti/285/274/customercare-tivu-tv.aspx" target="_blank">sito</a> per ricevere assistenza e consigli utili per una completa fruizione del servizio.</p>
</li>
<li>
<h3><a><span
	 class="number">09.</span><strong>Abito in Sardegna/Valle d’Aosta e dal 19 Dicembre 2012 non ricevo più Giove Tv, come posso fare?</strong></a></h3>
<p
	 class="text"
		 style="display: none;">Tra il 19 e il 22 Dicembre 2012, Sardegna e Valle d’Aosta hanno cambiato la frequenza per ricevere Giove Tv. Se sintonizzi manualmente il decoder e  risiedi in Sardegna ci trovi al ch 32, altrimenti in Valle d’Aosta al ch 44. Per qualsiasi chiarimento contattaci sui nostri profili <a href="http://www.facebook.com/GioveTv" target="_blank">Facebook</a>, <a href="https://twitter.com/Giove TvTV" target="_blank">Twitter</a>, oppure a <a href="mailto:info@Giove Tvtv.it">info@Giove Tvtv.it</a></p>
</li>
<li>
<h3><a><span
	 class="number">10.</span><strong>Posso vedere i programmi anche in lingua originale?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Sì alcuni programmi sono visibili anche il lingua originale, trovi l'indicazione sulle scheda dei programmi.</p>
</li>
<li>
<h3><a><span
	 class="number">11.</span><strong>Come faccio ad impostare la lingua originale di un programma?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Puoi impostare la lingua italiana o lingua originale direttamente dal menù del tuo telecomando.</p>
</li>
<li>
<h3><a><span
	 class="number">12.</span><strong>Giove Tv viene trasmesso anche in HD?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Al momento Giove Tv è trasmesso in HD solo sulla piattaforma .</p>
</li>
<li>
<h3><a><span
	 class="number">13.</span><strong>Che cos'è l'LCN?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">LCN sta per Logical Channel Numbering, ossia il riordino automatico dei canali sul decoder DTT.</p>
</li>
<li>
<h3><a><span
	 class="number">14.</span><strong>Posso cambiare la numerazione preassegnata al canale digitale terrestre Giove TV?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Dipende dal tipo di decoder DTT utilizzato. Consulta il manuale d'istruzioni per saperne di più.</p>
</li>
<li>
<h3><a><span
	 class="number">15.</span><strong>Che cosa significa MUX (Multiplex)?</strong></a></h3>
<p
	 class="text"
			 style="display: none;">Rete digitale terrestre. Si tratta di un insieme di contenuti trasmessi sulla medesima frequenza.</p>
</li>
<li>
<h3><a><span
	 class="number">16.</span><strong>Ho una domanda specifica da fare, come posso contattarvi?</strong></a></h3>
<p
	 class="text"
		 style="display: none;">Scrivici sui canali social: sulla pagina <a href="http://www.facebook.com/GioveTv" target="_blank">facebook</a> e <a href="https://twitter.com/GioveTV" target="_blank">twitter</a> ti risponderemo nel più breve tempo possibile. <br /></p>
</li>
<li>
<h3><a><span
	 class="number">17.</span><strong>Quali sono le note legali di Giove Tv?</strong></a></h3>
<p
	 class="text" style="display: none;"><a href="/content/dam/static/contentimages/original/sezioni/Giovetv/pdf/note_legali.pdf" target="_blank">Scarica il pdf</a></p>
</li>
</ul>
</div>
</div>
</div>
