<!DOCTYPE html>
<html>
	<head>
			<% include partials/skielo %>

		<% include partials/head %>
	</head>

	<body>
		<% include partials/fbsdk %>
		<% include partials/popUp %>

		<!-- HEADER | con barra di NAVigazione-->
		<% include partials/header %>

	<section class="o-wrapper">


		<% include partials/question %>
		<% include partials/banner %>
</section>
		<!-- FOOTER | con lista collegamenti -->
		<% include partials/footer %>

		<% include partials/script %>

	</body>
</html>
