<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
		<title>Guida TV | Giove TV</title>
	</head>
	<body>
		<% include partials/popUp %>

		<!-- HEADER | con barra di NAVigazione-->
		<% include partials/header %>
		
		<section class="o-wrapper"> <!-- s: o-wrapper -->
			
			<h1 class="o-wrapper__suggest__txt">I PROGRAMMI DELLA SETTIMANA</h1>
			
			<section class="lecture">
				<section class="o-wrapper__guide__daySlider">
					<section class="daySlider__day"></section>
					<div class="btnDaySlider-right icon2-right-open"></div>
					<div class="btnDaySlider-left icon2-left-open"></div>	
				</section>

				<section class="o-wrapper__guide__showContainer">
					
				</section>
			</section>
			<section class="btnLoadMore">VEDI DI PI&Ugrave;</section>

		</section> <!-- e: o-wrapper -->



		<!-- FOOTER | con lista collegamenti -->
		<% include partials/footer %>

		<% include partials/script %>

	</body>
</html>