<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
		<title>Guida TV | Giove TV</title>
	</head>
	<body>
		<% include partials/popUp %>

		<!-- HEADER | con barra di NAVigazione-->
		<% include partials/header %>
		
		<section class="o-wrapper">
			<section class="showContainer">
				<section class ="o-wrapper__divBig" style="height:300px">
					<img src="/images/somewhereok.png" />
				</section>
				<section class="o-wrapper__product">
					<h2 class="product__title">PULP FICTION</h2>
					<a href="/guidatv">
					<h2 class="product__info">GIOVEDì<br/>21:00</h2>
					</a>	
				</section>
			</section>
			<section class="o-wrapper__overview">
				<p class="o-wrapper__overview__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</p>

				<h4 class="overview__info">autore:</h4><h4>Quentin Tarantino</h4>
				<h4 class="overview__info">attori:</h4><h4>Huma turman, jhon travolta, denzel washington</h4>
				<h4 class="overview__info">durata:</h4><h4>130min</h4>

			</section>

			<section class="o-wrapper__overview-comment">
				
				<section class="comment"> 
					<section class="comment__user icon1-user">
						
					</section>
					<section class="comment__text">
						<h5>VISTO 3 VOLTE </h5>
						<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua..</h6>
					</section>
				</section>

				<section class="comment"> 
					<section class="comment__user icon1-user">
						
					</section>
					<section class="comment__text">
						<h5>PAZZURDO</h5>
						<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</h6>
					</section>
				</section>
			</section>

		</section>


		<!-- FOOTER | con lista collegamenti -->
		<% include partials/footer %>

		<% include partials/script %>

	</body>
</html>
