<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
		<title>Programmi | Giove TV</title>
	</head>

	<body>
		<% include partials/popUp %>

		<!-- HEADER | con barra di NAVigazione-->
		<% include partials/header %>


		<!-- MAIN Content -->

		<section class="o-wrapper">

			<!-- BARRA DI RICERCA -->
			<section class="o-wrapper__suggest">
				<h2 class="o-wrapper__suggest__txt"> CERCA IL TUO PROGRAMMA PREFERITO </h2>
				<form>
					<div class="o-wrapper__suggest__search" >
						<input id="search" class="suggest__search-input" type="text" placeholder=" Pulp Fiction">
						<div class="tableResult"> </div>
					</div>
					<input id="btnSearch" class="btnSrc" type="submit" value="Cerca">
				</form>
			</section>

			<section class="main_SchedaProgrammi">
				<section class="programBox_1">
					<h2 class="title_Box_1">TITOLO</h2>
					<h2 class="Trama_Box_1">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</h2>
				</section>
				
				<section class="programBox_1">
					<h2 class="title_Box_1">TITOLO</h2>
					<h2 class="Trama_Box_1">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</h2>
				</section>
			</section>
			
		</section> <!-- e : o-wrapper -->

		</section>
 
		<!-- FOOTER | con lista collegamenti -->
		<% include partials/footer %>

		<% include partials/script %>

	</body>
</html>